{% extends 'main/public/base.html' %}


{% load static %}

{% block title %}
    <title>Лобанов Иван Игоревич | WEB-13 </title>
{% endblock %}

{% block link_css %}
    <!--Подключаем иконки для социальных сетей-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--Подключаем файлы стилей-->
    <link rel="stylesheet" href="{% static 'css/about.css' %}"/>
{% endblock %}


{% block about %}
    <div class="hero">

        <div class="hero_container">

            <!--Размещаем текстовую информацию обо мне-->
            <div class="hero_about">

                <h1 class="hero_title">
                    Веб-разработчик
                </h1>

                <h2 class="hero_subtitle">
                    Лобанов Иван Игоревич
                </h2>

                <p class="hero_description">
                    Студент 3-го курса МГТУ им. Н.Э. Баумана. Обучаюсь на кафедре
                    автоматизированной системы обработки информации и управления.
                    <s>Занимаюсь спортом</s>, много учусь <s>и активно отдыхаю</s>.
                </p>


                <div class="hero_links">

                    <a href="https://github.com/cantylv" class="hero_link"><i class='bx bxl-github'></i></a>
                    <a href="https://vk.com/tussan_pussan" class="hero_link"><i class="bx bxl-vk"></i></a>
                    <a href="https://t.me/cantylv" class="hero_link"><i class='bx bxl-telegram'></i></a>

                </div>

                <div class="hero_personal_data">

                    <div class="hero_about_human">
                        <h4><em>Личные данные:</em></h4>

                        Дата рождения: 03.08.2003<br/>
                        Родной язык: Русский<br/>
                        Национальность: Русский<br/>
                        Семейное положение: Не женат
                    </div>

                    <div class="hero_career_objective">
                        <h4><em>Карьерная направленность:</em></h4>
                        Готов работать над сложными проектами, ездить в командировки.
                        Ищу вакансию для Junior-разработчика, пишущего Web-приложения на Django/Go.
                    </div>

                    <div class="hero_work_exp">
                        <h4><em>Опыт работы:</em></h4>
                        Июль 2022 - сейчас : ООО научный технический центр МГТУ им. Н.Э. Баумана
                        на должности техника 3 категории.<br/>
                        Март - Июнь 2023 : Оффлайн школа по программированию для детей от 6 до 14 лет
                        на должности тьютора.
                    </div>

                    <div class="hero_education">
                        <h4><em>Образование:</em></h4>
                        2010-2018: МБОУ СОШ им. В.И. Десяткова, г. Белая Холуница<br/>
                        2018-2021: МАОУ гимназия им. Г.К. Жукова, г. Белореченск<br/>
                        2021- сейчас: МГТУ им. Н.Э. Баумана, г. Москва<br/>
                    </div>

                    <div class="hero_skills">
                        <h4><em>Стек знаний:</em></h4>
                        С++, Qt6, OpenGL, Dear ImGui, C++/CLI, Python, HTML, CSS, JavaScript, Node.JS, Express,
                        PostgreSQL, Linux, Docker.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

