<!--Copyright © 2023 tussan_pussan ivanlobanov515@gmail.com-->

{% extends 'main/public/base.html' %}

{% load static %}

{% load main_tags %}

{% block link_css %} <!--Файл стилей для страницы с авторизованным пользователем-->
    {% if data_user.user.is_authenticated %}
        <link href="{% static 'css/ask.css' %}" type="text/css" rel="stylesheet">
    {% endif %}
{% endblock %}


<!--Это контент страницы, который не зависит от статуса пользователя: авторизован/не авторизован-->

{% block best_users %}
    <!--Карусель с лучшими пользователями-->
    {% include 'main/public/include/best_users.html' %}
{% endblock %}



{% block content %}

    <div class="form-question col-12 col-lg-9 d-flex flex-column">

        <!--Информационная карточка об этапах написания вопроса-->
        <div class="card q-card-info bg-color-card-info d-inline-flex mb-3">

            <div class="mt-4 ms-3" style="font-size: 1.3rem">Writing a good question</div>

            <div class="card-body">
                <p>You’re ready to ask a programming-related question and this form will help guide
                    you through the process.</p>
                <span>Steps</span>
                <ul>
                    <li>Summarize your problem in a one-line title.</li>
                    <li>Describe your problem in more detail.</li>
                    <li>Describe what you tried and what you expected to happen.</li>
                    <li>Add “tags” which help surface your question to members of the community.</li>
                    <li>Review your question and post it to the site.</li>
                </ul>
            </div>
        </div>

        <form id="askForm" class="col-12 d-flex flex-column" method="post" action="{% url 'ask' %}">
            {% csrf_token %}

            {% for row in form %}
                {{ row.errors }}
                <div class="card mt-1 mb-2 d-inline-flex">
                    <div class="card-body">
                        {% if row.label == "Tags" %}
                            <div class="d-flex justify-content-between">
                                <span style="font-size: 1.3rem">{{ row.label }}</span>

                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#popularTags" aria-expanded="false" aria-controls="popularTags">
                                    Popular tags
                                </button>
                            </div>
                            <p class="mb-1" style="font-size: 0.9rem">{{ row.help_text }}</p>
                            <p class="mb-1" style="font-size: 0.9rem"></p>
                            {{ row }}
                        {% else %}
                            <span style="font-size: 1.3rem">{{ row.label }}</span>
                            <p class="mb-1" style="font-size: 0.9rem">{{ row.help_text }}</p>
                            {{ row }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {{ form.non_field_errors }}

            {% get_popular_tags as popular_tags %}
            <div class="collapse mt-3" id="popularTags">
                <div class="card card-body">
                    <ul class="d-flex flex-wrap">
                        {% for tag in popular_tags %}
                            <span class="me-5">{{ tag.name }}</span>
                        {% endfor %}
                    </ul>
                </div>
            </div>


            <div class="mt-3 d-inline-flex">
                <button class="btn btn-primary btn-review-request">Review your request</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block popular_tags %}
    {% include 'main/public/include/popular_tags.html' %}
{% endblock %}


