<!--Copyright © 2023 tussan_pussan ivanlobanov515@gmail.com-->

{% extends 'main/public/base.html' %}

{% load static %}


{% block link_css %} <!--Файл стилей для страницы с авторизованным пользователем-->
    <link href="{% static 'css/authorization.css' %}" type="text/css" rel="stylesheet">
{% endblock %}


{% block user_menu %} <!--Навигационное меню в шапке страницы-->
    <div class="pt-2 big-screens">
        <ul class="nav">
            <li><a href="{% url 'home' %}" class="nav-link px-2">Home</a></li>
            <li><a href="#" class="nav-link px-2">Ask</a></li>
            <li><a href="{% url 'about' %}" class="nav-link px-2">About</a></li>
        </ul>
    </div>
{% endblock %}


{% block user_block %} <!--Блок с пользователем, содержащий маленькую аватарку, никнейм и кнопку выхода-->
    <button type="button" class="btn btn-outline-primary btn-signin me-2 big-screens">Login</button>
    <button type="button" class="btn btn-primary btn-signup ms-md-0 ms-1">Sign-up</button>
{% endblock %}


{% block burger_menu_no_collapse %} <!--Бургер меню в раскрытом виде для авторизованного пользователя-->
    <div>
        <div class="mb-1"><a href="{% url 'home' %}" class="nav-link nav-link-bm">Home</a></div>
        <div class="mb-1"><a href="#" class="nav-link nav-link-bm">Ask</a></div>
        <div class="mb-1"><a href="{% url 'about' %}" class="nav-link nav-link-bm">About</a></div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary btn-signin me-2">Login</button>
        <button type="button" class="btn btn-primary btn-signup ms-1">Sign-up</button>
    </div>
{% endblock %}


{% block page_title %} <!--Центральные надписи на странице-->
    <div class="container">
        <h3>Sign in</h3>
    </div>
{% endblock %}


{% block authorization %}
    <form id="authForm">
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="loginInput">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="passInput">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <div id="authRow"></div>
{% endblock %}
