<!--Copyright © 2023 tussan_pussan ivanlobanov515@gmail.com-->

{% extends 'main/public/base.html' %}

{% load static %}

{% block link_css %} <!--Файл стилей для страницы с авторизованным пользователем-->
    <link href="{% static 'css/authorization.css' %}" type="text/css" rel="stylesheet">
{% endblock %}


{% block page_title %} <!--Центральные надписи на странице-->
    <div class="container">
        <h3 class="auth-title">Sign in</h3>
    </div>
{% endblock %}


{% block authorization %}
    <form id="authForm" method="post" action="{% url 'auth' %}">
        {% csrf_token %}
        {% for row in form %}
            <div class="row mb-3">
                <div class="form-error">{{ row.errors }}</div>
                <label class="col-sm-1 col-form-label">{{ row.label }}</label>
                <div class="col-sm-6">{{ row }}</div>
            </div>
        {% endfor %}
        {{ form.non_field_errors }}
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <div id="authRow"></div>
{% endblock %}
