<!--Copyright © 2023 tussan_pussan ivanlobanov515@gmail.com-->

{% extends 'main/public/base.html' %}

{% load static %}


{% block link_css %} <!--Файл стилей для страницы с авторизованным пользователем-->
    <link href="{% static 'css/profile.css' %}" type="text/css" rel="stylesheet">
{% endblock %}


{% block profile_block %} <!--Центральные надписи на странице-->
    <div class="profile-header d-flex flex-wrap justify-content-start align-items-center mx-0">
        <div class="user-block d-flex flex-wrap justify-content-center">
            <img src="{% static user.img %}" alt="{{ user.login }}' ava" class="round-photo col-12">
            <div class="col-12 mt-2 text-center">
                <span class="username">{{ user.login }}</span>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Settings</h2>
        <div class="settings row">
            <form class="field-input col-lg-6 col-md-8 col-auto col-auto" id="profileForm">

                <div class="row g-0 mb-3">

                    <div id="loginRow"></div>

                    <div class="col">
                        <span>Login</span>
                    </div>

                    <div class="col">
                        <input type="text" class="form-control" placeholder="Login" aria-label="Login"
                               value="{{ user.login }}" id="loginInput">
                    </div>
                </div>


                <!--<div class="row g-0 mb-3">

                    <div class="warning-card-body p-1 mb-3">
                        Sorry, this username already in use!
                    </div>

                    <div class="col">
                        <span>Username</span>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                               value="{{ user.username }}">
                    </div>
                </div> -->

                <div class="row g-0 mb-3">

                    <div id="emailRow"></div>

                    <div class="col">
                        <span>Email</span>
                    </div>

                    <div class="col">
                        <input type="text" class="form-control" placeholder="E-mail" aria-label="Email"
                               value="{{ user.email }}" id="emailInput">
                    </div>
                </div>

                <div class="row g-0">

                    <div class="col">
                        <span>Upload Avatar</span>
                    </div>

                    <div class="col">
                        <input class="form-control" type="file" id="avatarInput" value="{{ user.img }}">
                    </div>
                </div>


                <div class="col mt-2">
                    <button class="btn btn-primary btn-save-changes" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}