<!--Copyright © 2023 tussan_pussan ivanlobanov515@gmail.com-->

{% extends 'main/public/base.html' %}

{% load static %}

<!--Загрузим пользовательские теги-->
{% load main_tags %}
{% get_best_users as best_users %}
{% get_user as user %}

{% block title %}
    <title>{{ question.title }}</title>
{% endblock %}

{% block link_css %} <!--Файл стилей для страницы с авторизованным пользователем-->
    {% if user.username != 'XXX' %}
        <link href="{% static 'css/css_authorized/question_authorized.css' %}" type="text/css" rel="stylesheet">
    {% else %}
        <link href="{% static 'css/css_unauthorized/question_unauthorized.css' %}" type="text/css" rel="stylesheet">
    {% endif %}
{% endblock %}



<!--Это контент страницы, который не зависит от статуса пользователя: авторизован/не авторизован-->

{% block question %}
    <!--Сперва получим все данные для отображения вопроса (лайки и т.п.)-->
    <div class="container mb-5">
        <!--Развернутый ответ-->
        <div class="head_question border-bottom">
            <h3>{{ question.title }}</h3>
            <span class="text-body-secondary">Last updated {{ question.date_create }}</span>
        </div>

        <div class="user-block pt-3 pe-5">
            <img src="{{ question.user.profile.avatar.url }}" class="img-set" alt="{{ question.username }}' ava">

            <div class="post_statistic d-flex mt-1 big-screens-ldc justify-content-center">
                <!--Block with likes and dislikes-->

                <div class="likes mt-2 me-2">{{ question.like }}
                    <button>
                        <img src="{% static 'svg/like.svg' %}" alt="like">
                    </button>
                </div>
                <div class="dislikes mt-2 me-2">{{ question.dislike }}
                    <button>
                        <img src="{% static 'svg/dislike.svg' %}" alt="dislike">
                    </button>
                </div>
            </div>
        </div>

        <span class="body-question">{{ question.text }}</span>

        <div class="post-tags">
            {% for tag in question.tags.all %}  <!-- Работать не будет, так как поменялось структура (ВНИМАНИЕ) -->
                <a href="{% url 'tag' tag_name=tag.name %}">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block content %}
    <!--Загрузим кол-во ответов-->
    <div class="container-fluid container-lg answers ms-2">
        <div class="row">
            <div class="answers col-12">
                <form action="{% url 'question' question_id=question.id %}" method="get">
                    <div class="sorting_answers d-flex flex-row align-items-center mb-3 justify-content-end">
                        <span class="me-2">Sorted by:</span>
                        <select name="sorted" class="form-select" style="max-width: 200px">
                            <option value="newest" {% if context.get_params.sorted == "newest" %} selected {% endif %}>
                                Newest
                            </option>
                            <option value="high_score" {% if context.get_params.sorted == "high_score" %}
                                    selected {% endif %}>Highest Score
                            </option>
                        </select>
                        <input type="submit" class="btn btn-primary ms-2" value="Apply">
                    </div>
                </form>
                <div class="comments mt-2 text-start mb-5">
                    <span style="font-size: 1.1rem">{{ question.comment }} Answers</span>
                    <img src="{% static 'svg/comment.svg' %}" alt="comm">
                </div>


                {% include 'main/public/include/answer.html' %}

            </div>
        </div>
    </div>
{% endblock %}


{% block paginator %}
    <div class="d-flex justify-content-end">
        <!--Пагинатор (выбор определенной страницы запроса)-->
        {% include 'main/public/include/paginator.html' %}
    </div>
{% endblock %}