<!--Copyright © 2023 tussan_pussan ivanlobanov515@gmail.com-->

{% extends 'main/public/base.html' %}

{% load static %}

<!--Загрузим пользовательские теги-->
{% load main_tags %}
{% get_best_users as best_users %}

{% block page_title %}
    <title>{{ question.title }}</title>
{% endblock %}

{% block link_css %} <!--Файл стилей для страницы с авторизованным пользователем-->
    {% if data_user.user.is_authenticated %}
        <link href="{% static 'css/css_authorized/question_authorized.css' %}" type="text/css" rel="stylesheet">
    {% else %}
        <link href="{% static 'css/css_unauthorized/question_unauthorized.css' %}" type="text/css" rel="stylesheet">
    {% endif %}
{% endblock %}


<!--Это контент страницы, который не зависит от статуса пользователя: авторизован/не авторизован-->

{% block question %}
    <!--Сперва получим все данные для отображения вопроса (лайки и т.п.)-->
    <div class="container mb-5">
        <!--Развернутый ответ-->
        <div class="head_question border-bottom">
            <h3>{{ question.title }}</h3>
            <span class="text-body-secondary">Last updated {{ question.date_create }}</span>
        </div>

        <div class="user-block pt-3 pe-5">
            <img src="{{ question.user.profile.avatar.url }}" class="img-set" alt="{{ question.username }}' ava">

            <div class="question-statistic d-flex mt-1 big-screens-ldc justify-content-center"
                 question_id="{{ question.id }}">
                <!--Block with likes and dislikes-->
                <div class="likes mt-2 me-2">
                    <div>{{ question.like }}</div>
                    <button>
                        {% get_questions_likes data_user.user as question_likes %}
                        {% if question in question_likes %}
                            <img src="{% static 'svg/like_add.jpg' %}" alt="like">
                        {% else %}
                            <img src="{% static 'svg/like.jpg' %}" alt="like">
                        {% endif %}
                    </button>
                </div>
                <div class="dislikes mt-2 me-2">
                    <div>{{ question.dislike }}</div>
                    <button>
                        {% get_questions_dislikes data_user.user as question_dislikes %}
                        {% if question in question_dislikes %}
                            <img src="{% static 'svg/dislike_add.jpg' %}" alt="like">
                        {% else %}
                            <img src="{% static 'svg/dislike.jpg' %}" alt="like">
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>

        <span class="body-question">{{ question.text }}</span>

        <div class="post-tags">
            {% for tag in question.tags.all %}
                <a href="{% url 'tag' tag_name=tag.name %}">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block answers %}
    {% if ans_id %}
        <script>
            window.onload = function () {
                // Устанавливаем якорь после загрузки страницы
                window.location.hash = '#answer-{{ ans_id }}';
            };
        </script>
    {% endif %}
    <!--Загрузим кол-во ответов-->
    <div class="container-fluid container-lg answers ms-2">
        <div class="row">
            <div class="answers col-12">
                <form action="{% url 'question' question_id=question.id %}" method="get">
                    <div class="sorting_answers d-flex flex-row align-items-center mb-3 justify-content-end">
                        <span class="me-2">Sorted by:</span>
                        <select name="sorted" class="form-select" style="max-width: 200px">
                            <option value="newest" {% if context.get_params.sorted == "newest" %} selected {% endif %}>
                                Newest
                            </option>
                            <option value="high_score" {% if context.get_params.sorted == "high_score" %}
                                    selected {% endif %}>Highest Score
                            </option>
                        </select>
                        <input type="submit" class="btn btn-primary ms-2" value="Apply">
                    </div>
                </form>
                <div class="comments mt-2 text-start mb-5">
                    <span style="font-size: 1.1rem" id="question_comments">{{ question.comment }}</span>
                    <span>Answers</span>
                    <img src="{% static 'svg/comment.svg' %}" alt="comm">
                </div>

                <div id="answers" channel="{{ question.id }}">
                    {% include 'main/public/include/answer.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block paginator %}
    <div class="d-flex justify-content-end">
        <!--Пагинатор (выбор определенной страницы запроса)-->
        {% include 'main/public/include/paginator.html' %}
    </div>
{% endblock %}

{% block answer %}
    <div class="answer">
        <div class="mb-3">
            <form id="authForm" method="post" action="{% url 'question' question_id=question.id %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for row in form %}
                    <div class="row g-0 mb-2">
                        <div class="form-error">{{ row.errors }}</div>
                        <label for="exampleFormControlTextarea1" class="form-label">{{ row.label }}</label>
                        <div>{{ row }}</div>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-submit mt-3">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block answer_js %}
    <script src="{% static 'node_modules/centrifuge/dist/centrifuge.js' %}"></script>
    <script>
        const container = document.getElementById('answers');
        const centrifuge = new Centrifuge("{{ centrifugo.ws_url }}", {
            token: "{{ centrifugo.user_token }}"
        });

        // Получим корневой элемент, куда будем дописывать сообщения
        const rootElement = document.getElementById("answers");
        const channel = rootElement.getAttribute("channel");

        const sub = centrifuge.newSubscription(channel);

        centrifuge.connect();

        sub.on('publication', function (ctx) {
            const answer = ctx.data.answer;
            if (answer) {
                const count_comment = document.getElementById("question_comments");
                count_comment.innerHTML = String(Number(count_comment.innerHTML) + 1);
                const element = `
            <div class="ans border-bottom mb-3" id="answer-${answer.id}">
        <div class="form-check {% if data_user.user.id == question.user.id %}isRightAnswer{% endif %} mb-1">
            {% if data_user.user.id == question.user.id %}
                <input class="form-check-input ps-1" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label right-answer-check px-1" for="flexCheckIndeterminateDisabled">
                    Is correct ?
                </label>
            {% endif %}
        </div>
        <div class="answer-body">
            ${answer.text}
        </div>
        <div class="col-12 px-0 mb-1 d-flex flex-wrap justify-content-between align-items-baseline">

            <div class="answer-statistic d-flex flex-wrap mb-1" answer_id="${answer.id}">

                <div class="likes mt-2 me-2">
                    <span>${answer.like}</span>
                    <button>
                          <img src="{% static 'svg/like.jpg' %}" alt="like">
                    </button>
                </div>
                <div class="dislikes mt-2 me-2">
                    <span>${answer.dislike}</span>
                    <button>
                           <img src="{% static 'svg/dislike.jpg' %}" alt="dislike">
                    </button>
                </div>

            </div>

            <div>
                <img src="${answer.avatar}" alt="${answer.username}'s photo"
                     class="ava_user mb-1">
                <span class="username px-1">${answer.username}</span>

                <span class="time_last_update px-1"><small
                        class="text-body-secondary">Last updated ${answer.date_create}</small>
                        </span>
            </div>
        </div>
    </div>
            `
                rootElement.insertAdjacentHTML('afterbegin', element);
            }
        }).subscribe();
    </script>
{% endblock %}