<!--Copyright © 2023 tussan_pussan ivanlobanov515@gmail.com-->

{% extends 'main/public/base.html' %}

{% load static %}

{% load main_tags %}


{% block link_css %} <!--Файл стилей для страницы с авторизованным пользователем-->
    <link href="{% static 'css/registration.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block best_users %}
    {% include 'main/public/include/best_users.html' %}
{% endblock %}


{% block authorization %}
    <form class="field-input col-sm-8 col-auto" id="regForm" method="post" action="{% url 'reg' %}">
        {% csrf_token %}
        <h3 class="mb-4">Registration</h3>
        {% for row in form %}
            <div class="row g-0 mb-2">
                <div class="form-error">{{ row.errors }}</div>
                <div class="col"><span class="me-5">{{ row.label }}</span></div>
                <div class="col">{{ row }}</div>
            </div>
        {% endfor %}
        {{ form.non_field_errors }}
        <button type="submit" class="btn btn-primary btn-signup-finish">Sign in</button>
    </form>
{% endblock %}


