<!--Copyright © 2023 tussan_pussan ivanlobanov515@gmail.com-->

{% extends 'main/public/base.html' %}

{% load static %}


{% block link_css %} <!--Файл стилей для страницы с авторизованным пользователем-->
    {% if user.user_token == 'XXX' %}
        <link href="{% static 'css/css_authorized/listing_authorized.css' %}" type="text/css" rel="stylesheet">
    {% else %}
        <link href="{% static 'css/css_unauthorized/listing_unauthorized.css' %}" type="text/css" rel="stylesheet">
    {% endif %}
{% endblock %}

<!--Это контент страницы, который не зависит от статуса пользователя: авторизован/не авторизован-->

{% block page_title %} <!--Центральные надписи на странице-->
    <div class="d-flex justify-content-center mt-3">
        <span class="main_first_header p-2 my-2">Over 10.000 people ready-to-work</span>
    </div>
    <h1 class="text-center mt-3 big-tittle" style="font-size: 3rem">Workspace where you can ask questions and answer
        them</h1>
    <h4 class="text-center mb-5 tittle-under-big-tittle" style="font-size: 1.5rem">Connect with thousands of top-rated
        programmers around the world</h4>
{% endblock %}


{% block button_filter %} <!--Кнопка фильтрации-->
    <div class="d-flex flex-wrap justify-content-center align-items-center mb-3">
        <h1 class="text-center tittle-publications mb-0 me-3" style="font-size: 2rem">Explore existing questions</h1>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filter-menu"
                aria-expanded="false" aria-controls="filter-menu">
            <img src="{% static 'svg/btn-filter.svg' %}" alt="dislike" class="mb-1">
            Filter
        </button>
    </div>
{% endblock %}


{% block content %}

    <div class="questions col-12 col-md-8 p-2 me-2 d-flex flex-column">

        <!--Explore existing questions + Кнопка фильтрации-->
        <div class="d-flex justify-content-start align-items-center mb-4">
            {% if count_tags > 1 %}
                <h1 class="mt-1">Tags:</h1>
                {% for tag in tags %}
                    <h1 class="text-center tittle-publications mb-0 me-1 tag-listing" style="font-size: 2rem">
                        <a href="{% url 'tag' tag_name=tag %}">{{ tag }}</a>
                    </h1>
                {% endfor %}

            {% else %}
                <h1 class="text-center tittle-publications mb-0 me-1 tag-listing" style="font-size: 2rem">Tag:
                    <a href="{% url 'tag' tag_name=tags %}">{{ tags }}</a>
                </h1>
            {% endif %}
        </div>

        {% include 'main/public/include/filter_menu.html' %}

        {% include 'main/public/include/card.html' %}


    </div>

{% endblock %}


{% block paginator %}
    {% include 'main/public/include/paginator.html' %}
{% endblock %}


{% block best_users %}
    {% include 'main/public/include/best_users.html' %}
{% endblock %}


{% block popular_tags %}
    {% include 'main/public/include/popular_tags.html' %}
{% endblock %}
