/*Copyright © 2023 tussan_pussan ivanlobanov515@gmail.com*/

/*CSS стили, необходимые для работы заголовка*/
@media (max-width: 1000px) {
    .search-bar-max {
        display: none;
    }

    body {
        padding-top: 100px;
    }
}

@media (min-width: 1001px) {
    .search-bar-min {
        display: none;
    }
}

@media (max-width: 840px) {
    body {
        padding-top: 70px;
    }
}

@media (max-width: 1000px) {
    .popular_tags {
        display: none;
    }

    .questions {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .big-tittle {
        font-size: 2rem !important;
    }

    .tittle-under-big-tittle {
        font-size: 1.2rem !important;
    }

    .tittle-publications {
        font-size: 1.5rem !important;
    }
}

/*lds - likes, dislikes, comments*/

@media (max-width: 767px) {
    .big-screens-ldc {
        display: none;
    }
}

@media (min-width: 767px) {
    .small-screens-ldc {
        display: none;
    }
}

.nav-link {
    color: #0b0a0a;
}

.main_first_header {
    font-size: 1.2rem;
    color: white;
    border-radius: 30px;
    background-color: #0d6efd;
}

/*Шапка профиля авторизованного пользователя*/

.user-block-header img {
    border-radius: 5px;
    width: 40px;
}


/*Шапка пользователя в бургер меню*/
.user-block-burger img{
    border-radius: 5px;
    width: 80px;
}

.user-block-burger a {
    font-size: 16px;
}

.tag-listing a {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #95cbff;
    border-radius: 5px;
    text-decoration: none;
}
