/*Copyright © 2023 tussan_pussan ivanlobanov515@gmail.com*/

/*CSS стили, небхожимые для работы заголовка*/

@media (max-width: 570px) {
    .btn-signup {
        display: none;
    }
}

@media (max-width: 420px) {
    .search-bar-max {
        display: none;
    }
}

@media (min-width: 421px) {
    .search-bar-min {
        display: none;
    }
}

@media (max-width: 1000px) {
    .popular_tags {
        display: none;
    }

    .questions {
        flex: 0 0 auto;
        width: 100%;
    }
}

/*lds - likes, dislikes, comments*/

@media (max-width: 767px) {
    .big-screens-ldc {
        display: none;
    }
}

@media (min-width: 767px) {
    .small-screens-ldc {
        display: none;
    }
}

.nav-link {
    color: #0b0a0a;
}

.bg-color-card-info {
    background-color: #ecf5fd;
}

.q-card-info {
    border: 0.5px solid #0d6efd;
}

.warning-card-body {
    background-color: rgba(255, 17, 48, 0.15);
}