<!--Copyright © 2023 tussan_pussan ivanlobanov515@gmail.com-->

{% extends 'app/public/base.html' %}

{% load static %}


{% block link_css %} <!--Файл стилей для страницы с авторизованным пользователем-->
    {% if data.user_token == 'XXX' %}
        <link href="{% static 'css/css_authorized/ask_authorized.css' %}" type="text/css" rel="stylesheet">
    {% endif %}
{% endblock %}


{% block user_menu %} <!--Навигационное меню в шапке страницы-->
    {% if data.user_token == 'XXX' %}
        <div class="pt-2 big-screens">
            <ul class="nav">
                <li><a href="#" class="nav-link px-2">Home</a></li>
                <li><a href="#" class="nav-link px-2">Ask</a></li>
                <li><a href="#" class="nav-link px-2">Profile</a></li>
                <li><a href="#" class="nav-link px-2">About</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}


{% block user_block %} <!--Блок с пользователем, содержащий маленькую аватарку, никнейм и кнопку выхода-->
    {% if data.user_token == 'XXX' %}
        <div class="user-block-header pe-2 pt-2 d-flex flex-wrap justify-content-center align-items-center">
            <img src="{% static 'img/users/user1_avaa.jpg' %}" alt="" class="col-12 big-screens">
            <a class="col-12 text-center text-decoration-none big-screens" href="#">tussan_pussan</a>
        </div>
        <button type="button" class="btn btn-primary ms-md-0 ms-1 big-screens">Sign-out</button>
    {% endif %}
{% endblock %}


{% block nickname_burger_menu %}
    <a class="col-12 text-center text-decoration-none me-2" href="#" style="font-size: 1.2rem">tussan_pussan</a>
{% endblock %}


{% block burger_menu_no_collapse %} <!--Бургер меню в раскрытом виде для авторизованного пользователя-->
    {% if data.user_token == 'XXX' %}
        <div class="user-block-burger mb-2">
            <img src="{% static 'img/users/user1_avaa.jpg' %}" alt="user_ava" class="">
        </div>
        <div>
            <div class="mb-1"><a href="#" class="nav-link nav-link-bm">Home</a></div>
            <div class="mb-1"><a href="#" class="nav-link nav-link-bm">Ask</a></div>
            <div class="mb-1"><a href="#" class="nav-link nav-link-bm">Profile</a></div>
            <div class="mb-1"><a href="#" class="nav-link nav-link-bm">About</a></div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary ms-1">Sign-out</button>
        </div>
    {% endif %}
{% endblock %}



<!--Это контент страницы, который не зависит от статуса пользователя: авторизован/не авторизован-->

{% block page_title %}
    <h4 class="text-center mb-2 mt-4 tittle-best-users" style="font-size: 2rem">Best users</h4>
{% endblock %}


{% block best_users %}
    <!--Карусель с лучшими пользователями-->
    <div class="slider mb-4">
        <div class="slider-track">

            <!--12 слайдов-->
            <div class="slide">
                <img src="{% static 'img/users/user1_avaa.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user2_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user3_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user4_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user5_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user6_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user7_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user8_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user9_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user10_ava.jpg' %}" alt="user2">
            </div>

            <!--эти же 12 слайдов (продублированные для полноценной прокрутки)-->
            <div class="slide">
                <img src="{% static 'img/users/user1_avaa.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user2_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user3_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user4_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user5_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user6_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user7_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user8_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user9_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user10_ava.jpg' %}" alt="user2">
            </div>
        </div>
    </div>
{% endblock %}



{% block content %}

    <div class="row">
        <div class="form-question col-12 col-lg-9 d-flex flex-column">

            <!--Информационная карточка об этапах написания вопроса-->
            <div class="card q-card-info bg-color-card-info d-inline-flex">

                <div class="mt-4 ms-3" style="font-size: 1.3rem">Writing a good question</div>

                <div class="card-body">
                    <p>You’re ready to ask a programming-related question and this form will help guide
                        you through the process.</p>
                    <span>Steps</span>
                    <ul>
                        <li>Summarize your problem in a one-line title.</li>
                        <li>Describe your problem in more detail.</li>
                        <li>Describe what you tried and what you expected to happen.</li>
                        <li>Add “tags” which help surface your question to members of the community.</li>
                        <li>Review your question and post it to the site.</li>
                    </ul>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body warning-card-body">
                    Title is missing
                </div>
            </div>

            <div class="card mt-3 d-inline-flex">
                <div class="card-body">
                    <span style="font-size: 1.3rem">Title</span>
                    <p class="mb-1" style="font-size: 0.9rem">Be specific and imagine you’re asking a question
                        to
                        another
                        person.</p>
                    <input type="text" class="col-12 py-1 form-control"
                           placeholder=" e.g. Is there an R function for finding the index of an element in a vector?">
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body warning-card-body">
                    Minimum 20 symbols
                </div>
            </div>

            <div class="card mt-3 d-inline-flex">
                <div class="card-body">
                    <span style="font-size: 1.3rem">Body</span>
                    <p class="mb-1">What are the details of your problem?</p>
                    <p class="mb-1" style="font-size: 0.9rem">Introduce the problem and expand on what you put
                        in
                        the title.
                        Minimum 20 characters.</p>
                    <textarea type="text" class="col-12 py-1 form-control"></textarea>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body warning-card-body">
                    Minimum 20 symbols
                </div>
            </div>

            <div class="card mt-3 d-inline-flex">
                <div class="card-body">
                    <span style="font-size: 1.3rem">What did you try and what were you expecting?</span>
                    <p class="mb-1" style="font-size: 0.9rem">Describe what you tried, what you expected to
                        happen,
                        and what actually resulted. Minimum 20 characters</p>
                    <textarea type="text" class="col-12 py-1 form-control"></textarea>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body warning-card-body">
                    Maximum 3 tags
                </div>
            </div>

            <div class="card mt-3 d-inline-flex">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <span style="font-size: 1.3rem">Tags</span>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#popularTags" aria-expanded="false" aria-controls="popularTags">
                            Популярные теги
                        </button>
                    </div>
                    <p class="mb-1" style="font-size: 0.9rem">Add up to 3 tags to describe what your question is
                        about.
                        Start typing to see suggestions.</p>
                    <input type="text" class="col-12 py-1 form-control"
                           placeholder=" e.g. (windows database vga)">
                </div>
            </div>

            <div class="collapse mt-3" id="popularTags">
                <div class="card card-body">
                    <ul>
                        <li>Python</li>
                        <li>Docker</li>
                        <li>C++</li>
                        <li>Centrifugo 3</li>
                        <li>TP Web</li>
                        <li>Webpack</li>
                        <li>Django</li>
                    </ul>
                </div>
            </div>


            <div class="mt-3 d-inline-flex">
                <button class="btn btn-primary">Review your request</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block popular_tags %}
    <!--Популярные теги справа на странице-->
    <div class="popular_tags col-3 p-2">
        <h3 class="text-center">Popular tags</h3>
        <div class="tags container d-flex flex-wrap justify-content-center align-content-center">
            <div class="tag"><a href="#" class="tag-ref text-decoration-none">Django</a></div>
            <div class="tag"><a href="#" class="tag-ref text-decoration-none">Python</a></div>
            <div class="tag"><a href="#" class="tag-ref text-decoration-none">Docker</a></div>
            <div class="tag"><a href="#" class="tag-ref text-decoration-none">C++</a></div>
            <div class="tag"><a href="#" class="tag-ref text-decoration-none">Centrifugo 3</a></div>
            <div class="tag"><a href="#" class="tag-ref text-decoration-none">TP Web</a></div>
            <div class="tag"><a href="#" class="tag-ref text-decoration-none">Webpack</a></div>
        </div>
    </div>
{% endblock %}


