<!--Copyright © 2023 tussan_pussan ivanlobanov515@gmail.com-->

{% extends 'app/public/base.html' %}

{% load static %}


{% block link_css %} <!--Файл стилей для страницы с авторизованным пользователем-->
    {% if data.user_token == 'XXX' %}
        <link href="{% static 'css/css_authorized/listing_authorized.css' %}" type="text/css" rel="stylesheet">
    {% else %}
        <link href="{% static 'css/css_unauthorized/listing_unauthorized.css' %}" type="text/css" rel="stylesheet">
    {% endif %}
{% endblock %}


{% block user_menu %} <!--Навигационное меню в шапке страницы-->
    {% if data.user_token == 'XXX' %}
        <div class="pt-2 big-screens">
            <ul class="nav">
                <li><a href="#" class="nav-link px-2">Home</a></li>
                <li><a href="#" class="nav-link px-2">Ask</a></li>
                <li><a href="#" class="nav-link px-2">Profile</a></li>
                <li><a href="#" class="nav-link px-2">About</a></li>
            </ul>
        </div>
    {% else %}
        <div class="pt-2 big-screens">
            <ul class="nav">
                <li><a href="#" class="nav-link px-2">Home</a></li>
                <li><a href="#" class="nav-link px-2">Ask</a></li>
                <li><a href="#" class="nav-link px-2">About</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}


{% block user_block %} <!--Блок с пользователем, содержащий маленькую аватарку, никнейм и кнопку выхода-->
    {% if data.user_token == 'XXX' %}
        <div class="user-block-header pe-2 pt-2 d-flex flex-wrap justify-content-center align-items-center">
            <img src="{% static 'img/users/user1_avaa.jpg' %}" alt="" class="col-12 big-screens">
            <a class="col-12 text-center text-decoration-none big-screens" href="#">tussan_pussan</a>
        </div>
        <button type="button" class="btn btn-primary ms-md-0 ms-1 big-screens">Sign-out</button>
    {% else %}
        <button type="button" class="btn btn-outline-primary me-2 big-screens">Login</button>
        <button type="button" class="btn btn-primary ms-md-0 ms-1 btn-signup">Sign-up</button>
    {% endif %}
{% endblock %}


{% block nickname_burger_menu %} <!--Никнейм пользователя в раскрытом бургер меню-->
    {% if data.user_token == 'XXX' %}
        <a class="col-12 text-center text-decoration-none me-2" href="#" style="font-size: 1.2rem">tussan_pussan</a>
    {% endif %}
{% endblock %}


{% block burger_menu_no_collapse %} <!--Бургер меню в раскрытом виде для авторизованного пользователя-->
    {% if data.user_token == 'XXX' %}
        <div class="user-block-burger mb-2">
            <img src="{% static 'img/users/user1_avaa.jpg' %}" alt="user_ava" class="">
        </div>
        <div>
            <div class="mb-1"><a href="#" class="nav-link nav-link-bm">Home</a></div>
            <div class="mb-1"><a href="#" class="nav-link nav-link-bm">Ask</a></div>
            <div class="mb-1"><a href="#" class="nav-link nav-link-bm">Profile</a></div>
            <div class="mb-1"><a href="#" class="nav-link nav-link-bm">About</a></div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary ms-1">Sign-out</button>
        </div>
    {% else %}
        <div>
            <div class="mb-1"><a href="#" class="nav-link nav-link-bm">Home</a></div>
            <div class="mb-1"><a href="#" class="nav-link nav-link-bm">Ask</a></div>
            <div class="mb-1"><a href="#" class="nav-link nav-link-bm">About</a></div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" class="btn btn-primary ms-1">Sign-up</button>
        </div>
    {% endif %}
{% endblock %}


<!--Это контент страницы, который не зависит от статуса пользователя: авторизован/не авторизован-->

{% block page_title %} <!--Центральные надписи на странице-->
    <div class="d-flex justify-content-center mt-3">
        <span class="main_first_header p-2 my-2">Over 10.000 people ready-to-work</span>
    </div>
    <h1 class="text-center mt-3 big-tittle" style="font-size: 3rem">Workspace where you can ask questions and answer
        them</h1>
    <h4 class="text-center mb-5 tittle-under-big-tittle" style="font-size: 1.5rem">Connect with thousands of top-rated
        programmers around the world</h4>
    <h4 class="text-center mb-2 tittle-best-users" style="font-size: 2rem">Best users</h4>
{% endblock %}


{% block best_users %}
    <!--Карусель с лучшими пользователями-->
    <div class="slider mb-4">
        <div class="slider-track">

            <!--12 слайдов-->
            <div class="slide">
                <img src="{% static 'img/users/user1_avaa.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user2_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user3_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user4_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user5_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user6_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user7_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user8_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user9_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user10_ava.jpg' %}" alt="user2">
            </div>

            <!--эти же 12 слайдов (продублированные для полноценной прокрутки)-->
            <div class="slide">
                <img src="{% static 'img/users/user1_avaa.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user2_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user3_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user4_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user5_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user6_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user7_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user8_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user9_ava.jpg' %}" alt="user2">
            </div>

            <div class="slide">
                <img src="{% static 'img/users/user10_ava.jpg' %}" alt="user2">
            </div>
        </div>
    </div>
{% endblock %}


{% block button_filter %} <!--Кнопка фильтрации-->
    <div class="d-flex flex-wrap justify-content-center align-items-center mb-3">
        <h1 class="text-center tittle-publications mb-0 me-3" style="font-size: 2rem">Explore existing
            questions</h1>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filter-menu"
                aria-expanded="false" aria-controls="filter-menu">
            <img src="{% static 'svg/btn-filter.svg' %}" alt="dislike" class="mb-1">
            Filter
        </button>
    </div>
{% endblock %}


{% block content %}
    <!--Список вопросов-->
    <div class="questions col-12 col-lg-9 d-flex flex-column">

        <!--Меню для выбора тегов и сортировки-->
        <div class="collapse mb-2" id="filter-menu">
            <div class="card p-3">
                <div class="row border-bottom">
                    <form class="col">
                        <h4 class="col-12 fw-bold">Sorted with</h4>
                        <p><input name="sorting" type="radio" value="newest"> Newest</p>
                        <p><input name="sorting" type="radio" value="high_score"> Highest Score</p>
                    </form>

                    <form class="col">
                        <h4 class="col-12 fw-bold">Tagged with</h4>
                        <div class="d-flex flex-wrap">
                            <span class="tag"><input type="radio"> Django</span>
                            <span class="tag"><input type="radio"> Docker</span>
                            <span class="tag"><input type="radio"> C++</span>
                            <span class="tag"><input type="radio"> Centrifugo 3</span>
                            <span class="tag"><input type="radio"> TP Web</span>
                            <span class="tag"><input type="radio"> Webpack</span>
                            <span class="tag"><input type="radio"> Python</span>
                        </div>
                    </form>
                </div>
                <div class="footer_sort_menu d-inline-flex pt-2 justify-content-between">
                    <button class="btn btn-primary fsm_btn_apply">Apply changes</button>
                    <button class="btn btn-primary fsm_btn_cancel">Cancel</button>
                </div>
            </div>
        </div>

        <!--Карточка с вопросами-->
        <!--Часть карточки, которая содержит лайки, дизлайки, а также футер-->
        <div class="card mb-3">
            <div class="row g-0">
                <!--Статистика карточки: лайки, дислайки и комментарии-->
                <div class="col-md-2">
                    <div class="post_statistic text-end mt-3 big-screens-ldc">
                        <div class="likes col-12">
                            <div class="d-inline-flex">5</div>
                            <img src="{% static 'svg/like.svg' %}" alt="like">
                        </div>
                        <div class="dislikes col-12 mt-2">0
                            <img src="{% static 'svg/dislike.svg' %}" alt="dislike">
                        </div>
                        <div class="comments col-12 mt-2">10
                            <img src="{% static 'svg/comment.svg' %}" alt="comm">
                        </div>
                    </div>
                </div>

                <!--Тело карточки-->
                <div class="col-md-10">
                    <div class="card-body">
                        <a href="#" class="text-decoration-none"><h5 class="card-title">How to create HTML page
                            in IDE?</h5></a>
                        <p class="card-text">Today we will talk about creating pages in IDE. It's tutorial for
                            beginners. This is a wider card with supporting text below as a natural lead-in to
                            additional content. </p>
                        <div class="col-12 px-3 mb-1 d-flex flex-wrap justify-content-end align-items-baseline">
                            <a href="/user" class="px-1 text-decoration-none">
                                <img src="{% static 'img/users/user1_avaa.jpg' %}" alt="User's photo"
                                     class="ava_user mb-1">
                                <span class="username px-1 ">tussan_pussan</span>
                            </a>

                            <span class="time_last_update px-1"><small
                                    class="text-body-secondary">Last updated 3 mins ago</small></span>
                        </div>

                        <div class="tag-listing text-end me-3">
                            <a href="#">IDE</a>
                            <a href="#">Python</a>
                            <a href="#">Proton</a>
                        </div>


                        <!--Блок с лайками, комментариями и дислайками, который будет отображаться на маленьких экранах-->
                        <div class="post_statistic text-end mt-3 сol-12 small-screens-ldc">
                            <!--Block with likes and dislikes-->
                            <span class="likes me-4">5
                                <img src="{% static 'svg/like.svg' %}" alt="like">
                            </span>
                            <span class="dislikes me-4">0
                                <img src="{% static 'svg/dislike.svg' %}" alt="dislike">
                            </span>
                            <span class="comments me-4">10
                                <img src="{% static 'svg/comment.svg' %}" alt="comm">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block popular_tags %}
    <!--Популярные теги справа на странице-->
    <div class="popular_tags col-3 p-2">
        <h3 class="text-center">Popular tags</h3>
        <div class="tags container d-flex flex-wrap justify-content-center align-content-center">
            <div class="tag"><a href="#" class="tag-ref text-decoration-none">Django</a></div>
            <div class="tag"><a href="#" class="tag-ref text-decoration-none">Python</a></div>
            <div class="tag"><a href="#" class="tag-ref text-decoration-none">Docker</a></div>
            <div class="tag"><a href="#" class="tag-ref text-decoration-none">C++</a></div>
            <div class="tag"><a href="#" class="tag-ref text-decoration-none">Centrifugo 3</a></div>
            <div class="tag"><a href="#" class="tag-ref text-decoration-none">TP Web</a></div>
            <div class="tag"><a href="#" class="tag-ref text-decoration-none">Webpack</a></div>
        </div>
    </div>
{% endblock %}


{% block paginator %}
    <!--Пагинатор (выбор определеннйо страницы запроса)-->
    <nav aria-label="Page navigation example" class="paginator ms-0">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}