<!--Copyright © 2023 tussan_pussan ivanlobanov515@gmail.com-->

{% extends 'app/public/base.html' %}

{% load static %}


{% block link_css %} <!--Файл стилей для страницы с авторизованным пользователем-->
    <link href="{% static 'css/registration.css' %}" type="text/css" rel="stylesheet">
{% endblock %}


{% block user_menu %} <!--Навигационное меню в шапке страницы-->
    <div class="pt-2 big-screens">
        <ul class="nav">
            <li><a href="#" class="nav-link px-2">Home</a></li>
            <li><a href="#" class="nav-link px-2">Ask</a></li>
            <li><a href="#" class="nav-link px-2">About</a></li>
        </ul>
    </div>
{% endblock %}


{% block user_block %} <!--Блок с пользователем, содержащий маленькую аватарку, никнейм и кнопку выхода-->
    <button type="button" class="btn btn-outline-primary me-2 big-screens">Login</button>
    <button type="button" class="btn btn-primary ms-md-0 ms-1 btn-signup">Sign-up</button>
{% endblock %}


{% block burger_menu_no_collapse %} <!--Бургер меню в раскрытом виде для авторизованного пользователя-->
    <div>
        <div class="mb-1"><a href="#" class="nav-link nav-link-bm">Home</a></div>
        <div class="mb-1"><a href="#" class="nav-link nav-link-bm">Ask</a></div>
        <div class="mb-1"><a href="#" class="nav-link nav-link-bm">About</a></div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary ms-1">Sign-up</button>
    </div>
{% endblock %}


{% block page_title %} <!--Центральные надписи на странице-->
    <div class="container">
        <h3 class="mb-3">Registration</h3>
    </div>
{% endblock %}


{% block authorization %}
    <div class="field-input col-sm-8 col-auto">

        <div class="warning-card-body p-1 my-3">
            Sorry, this login already in use!
        </div>

        <div class="row g-0 mb-2">
            <div class="col">
                <span class="me-5">Login</span>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Login" aria-label="Login"
                       value="ilobanovman">
            </div>
        </div>

        <div class="warning-card-body p-1 my-3">
            Sorry, this nickname already in use!
        </div>

        <div class="row g-0 mb-2">
            <div class="col">
                <span class="me-5">NickName</span>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="NickName" aria-label="NickName"
                       value="ilobanovman">
            </div>
        </div>

        <div class="warning-card-body p-1 my-3">
            Sorry, this email address already in use!
        </div>

        <div class="row g-0 mb-2">
            <div class="col">
                <span class="me-5">Email</span>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="E-mail" aria-label="Email"
                       value="ilobanovman@gmail.com">
            </div>
        </div>

        <div class="warning-card-body p-1 my-3">
            Wrong format of the file or too big size!
        </div>

        <div class="row g-0 mb-2">
            <div class="col">
                <span class="me-5">Load Avatar</span>
            </div>
            <div class="col">
                <input class="form-control" type="file" id="formFile">
            </div>
        </div>

        <div class="row g-0 mb-2">
            <div class="col">
                <span class="me-5">Password</span>
            </div>
            <div class="col">
                <input type="password" class="form-control" id="inputPassword3">
            </div>
        </div>

        <div class="row g-0 mb-2">
            <div class="col">
                <span class="me-5">Repeat password</span>
            </div>
            <div class="col">
                <input type="password" class="form-control" id="inputPassword3">
            </div>
        </div>

        <div class="warning-card-body p-1 my-3">
            Password mismatch!
        </div>

        <button type="submit" class="btn btn-primary">Sign-up</button>

    </div>
{% endblock %}
