{% load static %}


{% for answer in context.object_list %}
    <div class="ans border-bottom mb-3">
        <div class="form-check mb-1">
            {% if question.correct == True %}
                <input class="form-check-input ps-1" type="checkbox" value="" id="flexCheckDefault" checked disabled>
                <label class="form-check-label right-answer-check px-1" for="flexCheckIndeterminateDisabled">
                    Correct!
                </label>
            {% endif %}
        </div>
        <div class="answer-body">
            {{ answer.text }}
        </div>
        <div class="col-12 px-0 mb-1 d-flex flex-wrap justify-content-between align-items-baseline">

            <div class="post-statistic d-flex flex-wrap mb-1">

                <div class="likes mt-2 me-2">{{ answer.like }}
                    <img src="{% static 'svg/like.svg' %}" alt="like" class="mb-2">
                </div>
                <div class="dislikes mt-2 me-2">{{ answer.dislike }}
                    <img src="{% static 'svg/dislike.svg' %}" alt="dislike">
                </div>

            </div>

            <div>
                <img src="{% static answer.img %}" alt="{{ answer.login }}'s photo"
                     class="ava_user mb-1">
                <span class="username px-1 ">{{ answer.login }}</span>

                <span class="time_last_update px-1"><small
                        class="text-body-secondary">Last updated {{ answer.date_create }} mins ago</small>
                        </span>
            </div>
        </div>


    </div>
{% endfor %}
