<!--Copyright © 2023 tussan_pussan ivanlobanov515@gmail.com-->


{% load static %}

{% load main_tags %}

{% get_best_users as best_users %}

<!--Карусель с лучшими пользователями-->
<h4 class="text-center mb-2 tittle-best-users" style="font-size: 2rem">Best users</h4>

<div class="slider mb-4">
    <div class="slider-track">
        {% for best_user in best_users %}
            <div class="slide">
                <img src="{{ best_user.img.url }}" alt="{{ best_user.login }}'s photo">
                <!--Нужно также выводить на карточке имя пользователя-->
                <div class="username_bestUser">{{ best_user.login }}</div>
            </div>
        {% endfor %}

        {% for best_user in best_users %}
            <div class="slide">
                <img src="{{ best_user.img.url }}" alt="{{ best_user.login }}'s photo">
                <!--Нужно также выводить на карточке имя пользователя-->
                <div class="username_bestUser">{{ best_user.login }}</div>
            </div>
        {% endfor %}
    </div>
</div>
