{% load static %}

{% load main_tags %}

<!--Содержимое бургер-меню-->
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
     aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="staticBackdropLabel" style="font-size: 1.5rem">Gain Skills</h5>
        <div>
            <!--Никнейм пользователя в раскрытом бургер меню-->
            {% if data_user.user.is_authenticated %}
                <a class="col-12 text-center text-decoration-none me-2"
                   href="{% url 'profile' username=data_user.user.username %}"
                   style="font-size: 1.2rem">{{ data_user.user.username }}</a> <!--Лучше использовать юзернейм-->
            {% endif %}
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
    </div>
    <div class="offcanvas-body">
        <div>
            <!--Бургер меню в раскрытом виде для авторизованного пользователя-->
            {% if data_user.user.is_authenticated %}
                <div class="user-block-burger mb-2">
                    <img src="{{ data_user.profile.avatar.url }}" alt="{{ data_user.user.username }}' ava">
                </div>
                <div>
                    <div class="mb-1"><a href="{% url 'home' %}" class="nav-link nav-link-bm">Home</a></div>
                    <div class="mb-1"><a href="{% url 'ask' %}" class="nav-link nav-link-bm">Ask</a></div>
                    <div class="mb-1"><a href="{% url 'profile' username=data_user.user.username %}"
                                         class="nav-link nav-link-bm">Profile</a></div>
                    <div class="mb-1"><a href="{% url 'about' %}" class="nav-link nav-link-bm">About</a></div>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="{% url 'logout' %}" class="user-auth">
                        <button type="button" class="btn btn-primary btn-sign-out ms-1">Sign out</button>
                    </a>
                </div>
            {% else %}
                <div>
                    <div class="mb-1"><a href="{% url 'home' %}" class="nav-link nav-link-bm">Home</a></div>
                    <div class="mb-1"><a href="{% url 'ask' %}" class="nav-link nav-link-bm">Ask</a></div>
                    <div class="mb-1"><a href="{% url 'about' %}" class="nav-link nav-link-bm">About</a></div>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="{% url 'auth' %}" class="user-auth-signin">
                        <button type="button" class="btn btn-outline-primary btn-signin me-2">Sign in</button>
                    </a>
                    <a href="{% url 'reg' %}" class="user-auth">
                        <button type="button" class="btn btn-primary btn-signup ms-1">Sign up</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<!--Search bar, который будет рендериться, когда экран станет маленьким-->
<form class="mb-2 mx-3 search-bar-min" role="search">
    <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="title">
</form>

