{% load static %}

{% if context.object_list %}
    {% for question in context.object_list %}
        <!--Сперва получим все данные для отображения вопроса (лайки и т.п.)-->
        <div class="card mb-3">
            <div class="row g-0">
                <!--Статистика карточки: лайки, дизлайки и комментарии-->
                <div class="col-md-2">
                    <div class="post_statistic text-end mt-3 big-screens-ldc">
                        <div class="likes col-12">
                            <div class="d-inline-flex">{{ question.like }}</div>
                            <button>
                                <img src="{% static 'svg/like.svg' %}" alt="like">
                                <!--надо как-то обрабатывать нажатие на кнопки-->
                            </button>
                        </div>
                        <div class="dislikes col-12 mt-2">{{ question.dislike }}
                            <button>
                                <img src="{% static 'svg/dislike.svg' %}" alt="dislike">
                            </button>
                        </div>
                        <div class="comments col-12 mt-2">{{ question.comment }}
                            <button>
                                <img src="{% static 'svg/comment.svg' %}" alt="ans">
                            </button>
                        </div>
                    </div>
                </div>

                <!--Тело карточки-->
                <div class="col-md-10">
                    <div class="card-body">
                        <a href="{% url 'question' question_id=question.id %}" class="text-decoration-none">
                            <h5 class="card-title">{{ question.title|slice:":30" }}</h5></a>
                        <p class="card-text">{{ question.text|slice:":150" }}</p>
                        <div class="col-12 px-3 mb-1 d-flex flex-wrap justify-content-end align-items-baseline">
                            <a class="px-1 text-decoration-none">
                                <img src="{{ question.user.profile.avatar.url }}" alt="{{ question.user.username }}'s photo"
                                     class="ava_user mb-1">
                                <span class="username px-1 ">{{ question.user.username }}</span>
                            </a>

                            <span class="time_last_update px-1"><small
                                    class="text-body-secondary">Last updated {{ question.date_create }}</small></span>
                        </div>

                        <!--Блок с лайками, комментариями и дизлайками, который будет отображаться на маленьких экранах-->
                        <div class="post_statistic text-end mt-3 сol-12 small-screens-ldc">
                            <!--Block with likes and dislikes-->
                            <span class="likes me-4">{{ question.like }}
                            <button>
                                <img src="{% static 'svg/like.svg' %}" alt="like">
                            </button> <!--Возможно, нужно будет сделать ссылки, а не кнопки-->
                        </span>

                            <span class="dislikes me-4">{{ question.dislike }}
                            <button>
                                <img src="{% static 'svg/dislike.svg' %}" alt="dislike">
                            </button>
                        </span>
                            <span class="comments me-4">{{ question.comment }}
                            <button>
                                <img src="{% static 'svg/comment.svg' %}" alt="comm">
                            </button>
                        </span>
                        </div>


                        <div class="tag-listing text-end me-3">
                            {% for tag in question.tags.all %}
                                <a href="{% url 'tag' tag_name=tag.name %}">{{ tag.name }}</a>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div>
        <h4>There are no questions associated with this tag :(</h4>
    </div>
{% endif %}
