<!--Copyright © 2023 tussan_pussan ivanlobanov515@gmail.com-->


<!--Меню для выбора тегов и сортировки-->


<div class="{% if not sorting %}collapse{% endif %} mb-3" id="filter-menu">
    <div class="card p-3">
        <form class="row" id="sortingForm" method="get">

            <div class="col">
                <h4 class="col-12 fw-bold">Sorted with</h4>
                <p><input name="sorted" type="radio" value="newest"> Newest</p>
                <p><input name="sorted" type="radio" value="high_score"> Highest Score</p>
            </div>

            <div class="col">
                <h4 class="col-12 fw-bold">Tagged with</h4>
                <div class="d-flex flex-wrap">
                    {% for tag in popular_tags %}
                        <div>
                            <input type="checkbox" value="{{ tag }}">
                            <span class="tag_filter_menu">{{ tag }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="footer_sort_menu col-12 d-inline-flex pt-2 border-top">
                <button class="btn btn-primary fsm_btn_apply me-3" type="submit">Apply changes</button>
                <!--FooterSortMenu - fsm-->
                <button class="btn btn-primary fsm_btn_cancel" type="reset">Cancel</button>
            </div>

        </form>

    </div>
</div>

