/*Copyright © 2023 tussan_pussan ivanlobanov515@gmail.com*/

.search-bar-min {
    display: none;
}

.search-bar-max {
    display: none;
}

.central-logo {
    margin-left: 0!important;
    margin-right: 130px;
}

.user-block-header img {
    border-radius: 5px;
    width: 40px;
}

.tittle-best-users {
    margin-top: 30px;
}

.errorlist {
    list-style-type: none; /* Убираем маркеры списка */
    background-color: #FFDDDD; /* Задаем цвет фона ошибки */
    padding: 10px 5px 10px 5px; /* Убираем внутренний отступ у списка *
    color: #FF0000; /* Задаем цвет текста ошибки */
}